<html>
  <head>
    {% block head %}
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>{% block title %}{% endblock %}Eye of God</title>
    {% endblock %}
  </head>
  <style>
 
  </style>
  <body>
    
    
        <div class="wrapper">
            <nav class="grey darken-3 left" style="height: 70px;">
              <ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left: 24%;">
                <li><h5 style="margin-top: 10%;"></h5></li>
              </ul>
            </nav>
          </div>          

          <!-- SIDE NAVIGATION BAR -->
          <div class="row">
            <div class="col s4 m4">
              <ul id="slide-out" class="sidenav sidenav-fixed white-text" style="background-color: #222222;">
                <li>
                  <div class="nav-wrapper grey darken-3 z-depth-5">
                    <!-- <img src="/static/logo.png" height="65" width="280" style="margin-left: 5px; margin-bottom: -15px;"> -->
                  </div>
                </li>
                <li class="grey darken-3" style="margin-top: 50%;"> 
                  <a class="waves-effect white-text" href="{{url_for('index')}}">Sentiment Analysis</a>
                </li>
                <li class="grey darken-3" style="margin-top: 5px;">
                  <a class="waves-effect white-text" href="{{url_for('realtimetweets')}}">Tweet Selection</a>
                </li>
                <li class="grey darken-3" style="margin-top: 5px;">
                  <a class="waves-effect white-text" href="{{url_for('addclients')}}">Selected Tweets</a>
                </li>
                <li class="grey darken-3" style="margin-top: 5px;">
                  <a class="waves-effect white-text" href="{{url_for('scout')}}">Scout Competitors</a>
                </li>
              </ul>
            </div> 
          </div>
          <div id="content">
              {% block content %}
             
      {% endblock %}</div>
    <div id="footer">
      {% block footer %}
     
      {% endblock %}
    </div>

    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
      var instance = M.Sidenav.getInstance(elem);
      </script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>